@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

.App {
  margin: 3vw;
}

.heading {
  font-family: "Nunito", sans-serif;
  font-size: 5vh;
  color: #242d7c;
}

.subheading {
  font-size: 3.5vh;
  line-height: 3vh;
  padding-bottom: 2vh;
}

.contacts {
  height: 75vh;
  overflow-y: scroll;
}

.table-header {
  text-align: left;
  color: #242d7c;
  font-weight: 700;
  font-size: 2vh;
  padding-right: 6vw;
}

.cell {
  padding-bottom: 2vh;
}

.cell-content {
  padding-right: 6vw;
}

.contact-name {
  font-size: 2vh;
  font-weight: 600;
}

table td {
  border-bottom: 1px solid #b3b3b3;
}
