@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&display=swap");

body {
  background-color: #faffff;
  margin: 0;
  font-family: "Catamaran", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ReactTable .rt-tbody .rt-td {
  border-right: 1px solid rgba(0, 0, 0, 0.02);
}
